html, body
{
  cursor: none;
  background-color: #EEEEEE;
}

body
{
  overflow-x: hidden;
}

a
{
  cursor: none;
  color: inherit;
  text-decoration: none;
}

ul
{
  list-style: none;
}

ul > li > a:hover
{
  cursor: none;
  font-weight: 600;
  color: #e53935;
  border-bottom: 0.15rem solid #e53935;
}

.feature > a:hover
{
  font-weight: 600;
  color: #e53935;
}

.feature-icon
{
  width: 4rem;
  height: 4rem;
  align-items: center;
  margin-bottom: 1rem;
  display: inline-flex;
  border-radius: .75rem;
  justify-content: center;
}

.feature-icon h1
{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}

.icon-square
{
  width: 3rem;
  height: 3rem;
  align-items: center;
  display: inline-flex;
  border-radius: .75rem;
  justify-content: center;
}

.icon-square h2
{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
}

::selection
{
  background: #CFCFCF;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb
{
  background: #888;
}

::-webkit-scrollbar-track
{
    background: #f1f1f1;
}

/* cursor settings */
.pen__subheading
{
  margin-bottom: 0;
}

.pen__subheading a
{
  color: #dc5656;
}

.pen__subheading a:hover, .pen__subheading a:focus
{
  color: #e58080;
}

.cursor-dot,
.cursor-dot-outline
{  
  top: 50%;
  left: 50%;
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot
{
  width: 8px;
  height: 8px;
  z-index: 999;
  background-color: #e22f2f;
}

.cursor-dot-outline
{
  width: 40px;
  height: 40px;
  z-index: 999;
  background-color: rgba(229, 128, 128, 0.5);
}